<a href="https://colab.research.google.com/github/Arnav8055singh/ML-DL-python-/blob/main/2_4List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Python
1.immutable Objects
2.mutable Objects


immutable objects:
1.int
2.float
3.string
4.bool
5.tuple

mutable objects:
1.List
2.Set
3.Dictionary

LIST

In [1]:
#list should be included in multiple brackets

my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [2]:
#lists can have multiple data types

my_list = [2,3,1.8,'English',True]
print(my_list)

[2, 3, 1.8, 'English', True]

Lists are Mutable-->Changable

In [4]:
#add elemetnts to a list
my_list = [2,3,1.8,'English',True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [5]:
#print elements using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [7]:
#Lists allows Duplicate Values

list_1 = [1,2,3,4,5,6,6,2,1]
print(list_1)
print(len(my_list))

[1, 2, 3, 4, 5, 6, 6, 2, 1]
6

In [9]:
#initiating an empty list

list_2 = []
print(list_2)

list_2.append(69)

print(list_2)

[]
[69]

In [10]:
#delete an item in the list

my_list = [2,3,1.8,'English',True]
print(my_list)

del my_list[2]
print(my_list)

[2, 3, 1.8, 'English', True]
[2, 3, 'English', True]

In [11]:
#join two list

list_3 = [1,2,3,4,6,8]
list_4 = [7,8,9,0,1]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 6, 8, 7, 8, 9, 0, 1]

TUPLES

In [12]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [13]:
#tuples allow multiple data types
tuple_2 = (1,2,3,4,4.55,'Machine Learning', False)
print(tuple_2)

(1, 2, 3, 4, 4.55, 'Machine Learning', False)

In [14]:
#converting a list into a tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [15]:
#using index to print

print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are immutable --> Unchanged

In [16]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
print(len(my_tuple))

4

SETS

In [19]:
#sets --> Curly Brackets

my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

SETS DOES NOT SUPPORT INDEXING

In [20]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [22]:
#convert a list to a set
list_5 = [4,5,6,7,8]

x=set(list_5)
print(x)
type(x)

{4, 5, 6, 7, 8}

set

In [23]:
#set does not allow duplicate values

set_3 = {1,2,3,4,5,1,2}
print(set_3)

{1, 2, 3, 4, 5}

DICITONARY

Key Value Pair

In [1]:
my_dictionary = { 'name':'david','age':20 , 'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'david', 'age': 20, 'country': 'India'}

dict

In [2]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

david
20
India

In [4]:
#DICTIONARY DOESNT ALLOW DUPLICATE VALUES

dictionary_2 = {'name':'david','age':20 , 'country':'India','name':'david','age':20 , 'country':'India'}
print(dictionary_2)

{'name': 'david', 'age': 20, 'country': 'India'}