<a href="https://colab.research.google.com/github/Arnav8055singh/ML-DL-python-/blob/main/2_5OPERATORS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

OPERATORS IN PYTHON:

1.Arithmetic Operator
2.Assignment Operator
3.Comaprison Operator
4.Logical Operator
5.Identity Operator
6.Membership Operator

1.ARITHMETIC OPERATORS

In [2]:
num_1=20
num_2=10

#addition
sum = num_1 + num_2
print('sum =',sum)

#subtraction
diff = num_1 - num_2
print('diff =',diff)

#multiplication
mul = num_1 * num_2
print('multiplication =',mul)

#division
div = num_1 / num_2
print('div =',div)

#exponent
exp = num_1 ** num_2 #20^10
print('exp = ',exp)

#modulus
mod = num_1 % num_2
print('Remainder = ',mod)

sum = 30
diff = 10
multiplication = 200
div = 2.0
exp =  10240000000000
Remainder =  0

2.ASSIGNMENT OPERATOR

+=                      
-=
*=
**=
/=
%=

In [3]:
a = 5
print(a)

5

In [4]:
a = 5
a += 5 #a = a+5
print(a)

10

In [5]:
b= 5
b -=2 #b = b-2
print(b)

3

3.COMPARISON OPERTORS

In [7]:
a = 5
b = 10

print(a==b)   #equal to
print(a != b)  #equal to
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

4.LOGICAL OPERATORS (AND OR NOT)

In [9]:
a = 10

print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>8 and a>>5))

False
True
True

5.IDENTITY OPERATOR
IS
IS NOT

In [10]:
x= 5
y= 5

print(x is y)

True

In [15]:
x= 10
y= 5

print(x is  y)

False

In [14]:
x =  10
y = 5

print(x is not y)

True

6.MEMBERSHIP OPERTORS
IN
NOT IN

In [18]:
a=5
b=10

c=[1,2,3,4,5]
print(a in c )
print(b in c)
print( b not in c)

True
False
True