<a href="https://colab.research.google.com/github/Arnav8055singh/ML-DL-python-/blob/main/Copy_of_2_7Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FOR LOOP

In [ ]:
laptop1 = int(input("Enter the price of the laptop :"))
laptop2 = int(input("Enter the price of the laptop :"))
laptop3 = int(input("Enter the price of the laptop :"))
laptop4 = int(input("Enter the price of the laptop :"))
laptop5 = int(input("Enter the price of the laptop :"))

Enter the price of the laptop :20000
Enter the price of the laptop :30000
Enter the price of the laptop :40000
Enter the price of the laptop :50000
Enter the price of the laptop :60000

In [ ]:
for i in range(5):  #0,1,2,3,4
  laptop_price = int(input("Enter the price of the laptop:  "))

Enter the price of the laptop:  20000
Enter the price of the laptop:  40000
Enter the price of the laptop:  60000
Enter the price of the laptop:  80000
Enter the price of the laptop:  100000

In [ ]:
numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [ ]:
numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

WHILE LOOP

In [ ]:
i = 0

while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9